#ide
.vscode

# ASP.NET artifacts
obj/
bin/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds

# NuGet packages
packages/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# ReSharper specific
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity build folder
[Tt]eam[Cc]ity/

# DotCover Code Coverage Results
*.dotCover

# Installshield output folder
[Ee]xpress/

# DocProject file 
*.DocProject

# SmartAssembly certificate file
*.sac

# Publish related files
*.Publish.xml
