@model List<kurs.Models.Client>
@{
    ViewData["Title"] = "Клиенты";
}

<head>
    <link rel="stylesheet" href="~/css/shared.css" asp-append-version="true" />    
</head>

<h1>Клиенты</h1> <a href="Add">Добавить</a>
<a href="PrintPdf">Распечатать в PDF</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Номер телефона</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.ClientId</td>
                <td>@client.FirstName</td>
                <td>@client.LastName</td>
                <td>@client.PhoneNumber</td>
                <td><a href="Edit/@client.ClientId">Посмотреть</a></td>
            </tr>
        }
    </tbody>
</table>