@{
    ViewData["Title"] = "Домашняя страница";
}

<head>
    <link rel="stylesheet" href="~/css/shared.css" asp-append-version="true" />    
</head>
<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Для начала работы выберите таблицу из меню выше</p>
</div>
